@font-face {
  font-family: 'Outfit';
  src: url('/assets/fonts/Outfit-Regular.woff') format('woff'),
       url('/assets/fonts/Outfit-Black.woff') format('woff'),
       url('/assets/fonts/Outfit-Bold.woff') format('woff'),
       url('/assets/fonts/Outfit-ExtraBold.woff') format('woff'),
       url('/assets/fonts/Outfit-ExtraLight.woff') format('woff'),
       url('/assets/fonts/Outfit-Light.woff') format('woff'),
       url('/assets/fonts/Outfit-Medium.woff') format('woff'),
       url('/assets/fonts/Outfit-SemiBold.woff') format('woff'),
       url('/assets/fonts/Outfit-Thin.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
