.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  // gap: 1rem; 
  padding-left: 0; 
  padding-right: 0;
  margin-left: -0.5rem;
  margin-right: -0.5rem;
  width: 100%;
}

/* 2 columns at small breakpoint */
@media (min-width: 576px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* 3 columns at medium breakpoint */
@media (min-width: 768px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* 4 columns at large breakpoint */
@media (min-width: 992px) {
  .grid-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

.grid-col {
  padding: 1rem;
  margin: 0;
  width: 100%;
}
