<section class="bg-dot section connect-section bg-main text-main">
    <div class="container">
        <div class="row">
            <div class="col-9 col-lg-6">
                <h2>Get In Touch</h2>
                <article class="section-info">
                    Have a project in mind or just want to connect? I'm always happy to chat with fellow tech
                    enthusiasts
                    and potential collaborators. Feel free to reach out through the channels below.
                </article>
                
                <h3>Find Me Here</h3>

                <div class="connect-links">
                    <img class="social-links-img" src="../../assets/images/linkedin.png" alt="" (click)="openLinkedin()">
                    <img class="social-links-img" src="../../assets/images/upworkfull.png" alt="" (click)="openUpwork()">
                    <img class="social-links-img" src="../../assets/images/email.png" alt="" (click)="openEmail()">
                </div>
            </div>
            <div class="col-3 col-lg-6 image-container">
                <img class="img-md" src="../../assets/images/phonebooth.png" alt="">
            </div>
        </div>
    </div>
</section>