@import '../../styles/abstract/variables';
@import '../../styles/abstract/mixins';

.header-section {
    position: relative;
    overflow: visible;
    height: 100vh;

    // clip-path: polygon(0% 0%, 100% 0%, 100% 95%, 50% 100%, 0% 95%);
    @include respond(md) {
        height: 100vh;
    }
}

.header-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right bottom, rgba(18, 6, 6, 0.6), rgba(20, 14, 50, 0.6)), url("../../assets/images/landing_bg2.jpg");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    z-index: -1;
    background-attachment: fixed;
}
.landing-title{
    font-size: 4rem;
    text-align: -webkit-center;
    font-weight: bold;
}
.om-typewriter-text {
    p{
        margin-bottom: unset;
    }
}
.title {
    font-size: 3rem;
    font-weight: 600;
    line-height: 65%;
    text-align: end;
    position: relative;
    z-index: 2;
}

.landing-section {
    height: 100%;

    // background: rgba(255, 0, 0, 0.228);
    .header {
        height: 20%;
        // background: rgba(30, 0, 255, 0.228);
    }

    .landing-content {
        height: 80%;
        // background: rgba(0, 255, 21, 0.228);
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        color: #e2e2e2;

        .landing-description {
            flex: 1;
            // display: flex;
            // align-items: center;
            // justify-content: center;
            text-align: center;
            padding-top: 2rem;
            // background: rgba(98, 0, 255, 0.228);
        }

        .social-link-container {
            // background-color: rgba(0, 0, 0, 0.2); 
            // backdrop-filter: blur(6px);
            width: 310px;
            text-align: center;
            display: flex;
            justify-content: space-between;
            position: sticky;
            top: 0;
            padding: 10px;
            z-index: 10;


            a {
                text-decoration: none;
                color: #e2e2e2;

                .social-links {
                    font-size: 2rem;
                    padding-bottom: 0.5rem;
                }
            }
        }
    }


}



.content {
    z-index: 2;
    position: absolute;
    top: 50%;

}



.section-heading {
    text-align: left;
}



.mb {
    margin-bottom: 1rem;
}

.tech-icons {
    font-size: 6rem;
    // margin-right: 3rem;
    opacity: 0.5;
}

.skill-sets {
    overflow: hidden;
}

.image-container {
    margin-top: -2.5rem;
    height: 550px;
    background-image: url("../../assets/images/bg7.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.service-image-container {
    margin-top: -2.5rem;
    height: 550px;
    background-image: url("../../assets/images/test.png");
    background-size: contain;
    background-position-x: center;
    background-repeat: no-repeat;
}

.btn {
    border-radius: 0;
    margin: 0 0.5rem 0.5rem 0;
    border-color: #6786b2;
    color: #6786b2;
}

.btn:hover {
    color: #e2e2e2;
    background: #6786b2;
}

.btn-wrapper {
    margin-top: 2rem;
}


.card {
    background: transparent;
}