<section class="header-section backdrop">
    <div class="container landing-section">
        <header class="header title" style="color: #e2e2e2">
            <span class="block">Anil</span>
            <span class="block">Gurau</span>
        </header>
        <main class="landing-content">
            <div class="landing-content-left">
                <!-- <div class="image-container col">
                    <img src="../../assets/images/anil_gurau.png" alt="my-pic">
                </div> -->
                <!-- <h2 class="section-heading">Full-stack .Net Developer</h2> -->

                <!-- <article class="text-justify">
                    A Full-Stack Developer with 3+ years of experience, I build user-friendly web applications. I handle
                    both backend development (APIs, databases) and frontend design. I focus on creating efficient and
                    well-structured solutions, and my experience includes developing applications for various business
                    needs.
                </article> -->
                <!-- <span>Website Coming Soon!!</span> -->
            </div>

            <div class="social-link-container">
                <a class="icon-link" [href]="item.link" target="_blank" *ngFor="let item of links; index as i;">
                    <i [class]="item.icon"></i>
                </a>
            </div>
        </main>
    </div>
</section>

<section class="container section">
    <div class="row blob-bg">
        <div class="col-md-6 col-sm-12">
            <h2>About Me</h2>
            <article class="about-info">
                <!-- A Full-Stack Developer with 3+ years of experience, I build user-friendly web applications. I handle both
                backend development (APIs, databases) and frontend design. I focus on creating efficient and well-structured
                solutions, and my experience includes developing applications for various business needs. -->
                Results-oriented Full-Stack Developer with over 3 years of experience building user-friendly and
                efficient web applications. I effectively bridge the gap between backend logic (APIs, databases) and
                frontend design to create well-structured solutions that solve diverse business challenges.
            </article>

            <!-- <h3>Tech-stack I work on</h3> -->
            <h3>My ToolKit</h3>

            <div class="tech-stack-section">
                <button class="btn btn-outline-secondary">C#</button>
                <button class="btn btn-outline-secondary">.Net</button>
                <button class="btn btn-outline-secondary">API Integration</button>
                <button class="btn btn-outline-secondary">MSSQL</button>
                <button class="btn btn-outline-secondary">Angular</button>
                <button class="btn btn-outline-secondary">VueJs</button>
                <button class="btn btn-outline-secondary">Azure</button>
            </div>

            <div style="margin-top:2rem">
                <button class="btn btn-secondary btn-lg" style="background: #6786b2; color: #ededed"
                    (click)="downloadFile()">Download CV <i class="fa-solid fa-download"></i></button>
            </div>
        </div>

        <div class="col-md-6 col-sm-12">
            <div class="image-container col">
            </div>
        </div>
    </div>
</section>

<section>
    <app-marquee [data]="marqueeIcons.slice(0,marqueeIcons.length/2)"></app-marquee>
    <app-marquee [data]="marqueeIcons.slice(marqueeIcons.length/2)" [reverse]="true"></app-marquee>
</section>

<section class="bg-dot">
    <section class="container">
        <div class="row flex">
            <div class="col-md-6">
                <div class="image-container col">
                </div>
            </div>

            <div class="col-md-6 blob-bg">
                <h2>My Services</h2>
                <article class="about-info">
                    A Full-Stack Developer with 3+ years of experience, I build user-friendly web applications. I handle
                    both
                    backend development (APIs, databases) and frontend design. I focus on creating efficient and
                    well-structured
                    solutions, and my experience includes developing applications for various business needs.
                </article>



                <button class="btn btn-outline-secondary">C#</button>
                <button class="btn btn-outline-secondary">.Net</button>
                <button class="btn btn-outline-secondary">Entity Framework</button>
                <button class="btn btn-outline-secondary">Dapper</button>
                <button class="btn btn-outline-secondary">T-SQL</button>
                <button class="btn btn-outline-secondary">Stored Procedure</button>
                <button class="btn btn-outline-secondary">Docker</button>

                <div style="margin-top:3rem">
                    <button class="btn btn-secondary btn-lg" style="background: #6786b2; color: #ededed">Stored
                        Procedure</button>
                </div>


            </div>


        </div>
    </section>
</section>

<app-blog-section [posts]="posts"></app-blog-section>




<!-- <om-neon-underline></om-neon-underline> -->


<!-- <section class="">
    <div class="container">
        <div class="row">
            <div class="col">
                <h2 class="section-title mb-sm">
                    Skill-Set
                </h2>
                <article>
                    <span class="badge inline-block mr-sm mb-sm">C#</span>
                    <span class="badge inline-block mr-sm mb-sm">.Net</span>
                    <span class="badge inline-block mr-sm mb-sm">Entity Framework</span>
                    <span class="badge inline-block mr-sm mb-sm">Dapper</span>
                    <span class="badge inline-block mr-sm mb-sm">Html</span>
                    <span class="badge inline-block mr-sm mb-sm">C#</span>
                    <span class="badge inline-block mr-sm mb-sm">.Net</span>
                    <span class="badge inline-block mr-sm mb-sm">Entity Framework</span>
                    <span class="badge inline-block mr-sm mb-sm">Dapper</span>
                    <span class="badge inline-block mr-sm mb-sm">Html</span>
                </article>
            </div>
            <div class="col">
                <h2 class="section-title">
                    Work-Experience
                </h2>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="section-title">
            Skill-Set
        </div>
    </div>
</section> -->