<section class="header-section backdrop">
    <div class="container landing-section">
        <header class="header title">
            <span class="block">Anil</span>
            <span class="block">Gurau</span>
        </header>
        <main class="landing-content">
            <div class="landing-content-left">
                <span>Website Coming Soon!!</span>
            </div>
            <div class="landing-content-right">
                <a class="icon-link" [href]="item.link" target="_blank" *ngFor="let item of links; index as i;">
                    <i [class]="item.icon"></i>
                </a>
            </div>
        </main>
    </div>
</section>
<!-- <section style="margin-top: 1rem">
    <div class="container flex skill-sets" style="justify-content: space-between;">
        <i class="inline-block tech-icons devicon-csharp-plain"></i>
        <i class="inline-block tech-icons devicon-dotnetcore-plain"></i> 
        <i class="inline-block tech-icons devicon-angular-plain"></i>
        <i class="inline-block tech-icons devicon-javascript-plain"></i> 
        <i class="inline-block tech-icons devicon-azuresqldatabase-plain"></i>
        <i class="inline-block tech-icons devicon-csharp-plain"></i>
        <i class="inline-block tech-icons devicon-dotnetcore-plain"></i> 
        <i class="inline-block tech-icons devicon-angular-plain"></i>
        
    </div>
</section>
<section class="">
    <div class="container">
        <div class="row">
            <div class="col">
                <h2 class="section-title mb-sm">
                    Skill-Set
                </h2>
                <article>
                    <span class="badge inline-block mr-sm mb-sm">C#</span>
                    <span class="badge inline-block mr-sm mb-sm">.Net</span>
                    <span class="badge inline-block mr-sm mb-sm">Entity Framework</span>
                    <span class="badge inline-block mr-sm mb-sm">Dapper</span>
                    <span class="badge inline-block mr-sm mb-sm">Html</span>
                    <span class="badge inline-block mr-sm mb-sm">C#</span>
                    <span class="badge inline-block mr-sm mb-sm">.Net</span>
                    <span class="badge inline-block mr-sm mb-sm">Entity Framework</span>
                    <span class="badge inline-block mr-sm mb-sm">Dapper</span>
                    <span class="badge inline-block mr-sm mb-sm">Html</span>
                </article>
            </div>
            <div class="col">
                <h2 class="section-title">
                    Work-Experience
                </h2>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="section-title">
            Skill-Set
        </div>
    </div>
</section> -->