// Colors
$primary-color: #74060A;
$secondary-color: #58788C;
$danger-color: #dc3545;
$text-color: #6786b2;
$section-title-color: #FF4A52;
$background-color: #ededed;

$breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);