// Colors
$primary-color: #6786b2;
$secondary-color: #58788C;
$danger-color: #dc3545;
$section-title-color: #FF4A52;

$background-color: #ededed;

$button-primary: $primary-color;
$button-secondary: $secondary-color;
$button-danger: $danger-color;

$text-primary: $primary-color; 
$text-secondary: #e2e2e2; 

.bg-main{
  background-color: $primary-color;
}

.text-main{
  color: $background-color;
}

$breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);