<div class="blog-card">
    <div class="blog-image-container">
        <small style=" text-align: right;">05/02/2025</small>
    </div>
    <div class="blog-content-container">
        <div class="blog-card-title">
            <h4>Why Choose Onion Architecture for Better Software</h4>
        </div>
        <div class="blog-card-description">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry is simply dummy text of the printing and typesetting industry...</p>
        </div>
        
        <div class="card-action">
            <div class="action-right">
                <a href="">Readmore</a>
            </div>
        </div>
    </div>
    
</div>