@import '../abstract/variables';
  .badge{
    background: $section-title-color;
    color: white;
    padding: 4px 14px;
    font-size: 0.8rem;
    box-sizing: border-box;
    border-radius: 4px;
  }


  
  