<section class="bg-dot">
    <section class="container section">
        <div class="row">
            <h2>My Blogs</h2>
            <div class="col-md-4 col-sm-12" style="padding: 1rem;">
                <app-blog-card></app-blog-card>
            </div>
            <div class="col-md-4 col-sm-12" style="padding: 1rem;">
                <app-blog-card></app-blog-card>
            </div>
            <div class="col-md-4 col-sm-12" style="padding: 1rem;">
                <app-blog-card></app-blog-card>
            </div>
        </div>
    </section>
</section>
