<section class="section bg-dot" *ngIf="posts">
    <div class="container">
        <div class="row">
            <h2>My Blogs</h2>
            <div *ngFor="let post of posts; let i = index;" class="col-md-4 col-sm-12" style="padding: 1rem;">
                <app-blog-card [post] = "post"></app-blog-card>
            </div>
        </div>
        <div class="btn-wrapper">
            <app-button [content]="'Explore All Blogs'" (btnClicked)="onClick($event)"></app-button>
        </div>
    </div>
</section>
